{% extends "base.html" %}
	
{% block heading %} 
	List 
{% endblock heading%}

{% block content%}
	<style>
		
	</style>
	
	{% include 'messages.html' %}

	<div>
		<div class="jumbotron">
			<h1 class="display-3">Blogs</h1>	  
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{% url 'more:create' %}" role="button">Create</a>
			</p>
		</div>


		<div class="row">
			{% for c in post_items %}
				<div class="card col-sm-12 col-md-3" >
					<div class="card-body">
						<h4 class="card-title">{{c.title}} <small>{{c.updated|timesince}}</small></h4>
						{% if c.img %}
			    		<img src="{{c.img.url}}" alt="card image" class="card-img-top">
			    		{% endif %}
						<p class="card-text">{{c.content|linebreaks|truncatechars:200}}</p>
					</div>

					<ul class="list-group list-group-flush">
						<a href="{% url 'more:delete' post_slug=c.slug %}" class="list-group-item btn btn-warning" data-toggle="tooltip" data-placement="top" title="delete ">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
			    		<a href="{% url 'more:update' post_slug=c.slug %}" class="list-group-item btn btn-warning">Update <i class="fa fa-pencil" aria-hidden="true"></i></a>
			    		<a href="{% url 'more:detail' post_slug=c.slug %}" class="list-group-item btn btn-warning">Read More <i class="fa fa-book" aria-hidden="true"></i></a>
			    		<a href="{{c.get_abs_url}}" class="list-group-item btn btn-warning">Details <i class="fa fa-info" aria-hidden="true"></i></a>
					</ul>
				</div>
			{% endfor %}
		</div>



		<div class="pagination" style="margin-top:2%;">
		    <span class="step-links">
		        {% if post_items.has_previous %}
		            <a href="?page={{ post_items.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ post_items.number }} of {{ post_items.paginator.num_pages }}.
		        </span>

		        {% if post_items.has_next %}
		            <a href="?page={{ post_items.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>

	</div>
{% endblock content%}