<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Loan Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<form method="POST">
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Finance & Product types
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<div class="dropdown-item" >Consumer finance</div>
				<div class="dropdown-item" >Installment finance</div>
				<div class="dropdown-item" >Auto finance</div>
			</div>
		</div>
		Customer Name: <input type="text" name="fname"><br>
		<div class="form-group">
			<label for="exampleFormControlInput1">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
		Mobile Number: <input type="text" name="fname"><br>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Purpose of Finance
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<div class="dropdown-item" >Construction material</div>
				<div class="dropdown-item" >car</div>
				<div class="dropdown-item" >medical treatment</div>
				<div class="dropdown-item" >education services</div>
				<div class="dropdown-item" >consumer goods</div>
			</div>
		</div>
		Monthly Salary: <input type="text" name="fname"><br>
		Down Payment: <input type="text" name="fname"><br>
		Finance Amount: <input type="text" name="fname"><br>
		Finance Tenor: <input type="text" name="fname"><br>

		<button type="submit" class="btn btn-primary">Submit</button>

	</form>


















	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
</body>
</html>