{% extends "base.html" %}

{% block heading %} Detail {% endblock heading%}

{% block content%}

<div class="card" style="margin:10%;">
  <div class="card-header">{{response.result.vicinity}}</div>
  <div class="card-body">
    <h4 class="card-title">{{response.result.name}}</h4>
    <p class="card-text">Address : {{response.result.formatted_address}}</p>
    <a href="{{response.result.url}}" class="btn btn-danger"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
  </div>
</div>


<iframe
  id="map"
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="" allowfullscreen>
</iframe>

<script>

	function do_something(lat, lng) {
		var map = $("#map");
		map.attr(
			'src',
			"https://www.google.com/maps/embed/v1/directions?key={{map_key}}&origin="+lat+","+lng+"&destination={{response.result.geometry.location.lat}},{{response.result.geometry.location.lng}}"
			)
	}

	navigator.geolocation.getCurrentPosition(function(position) {
  	do_something(position.coords.latitude, position.coords.longitude);
	});

</script>
{% endblock content%}
