{% extends "base.html" %}

{% block heading %} Google Results {% endblock heading%}

{% block content%}

<div style="margin:5%;">
	<form action="{% url 'googly:place-search' %}" method="GET">
		<div class="col-lg-6">
			<div class="input-group">
			  	<input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." name="query">
			  	<span class="input-group-btn">
				<button class="btn btn-secondary" type="submit">Search</button>
			  	</span>
			</div>
		</div>
	</form>
</div>
	<table class="table" >
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Address</th>
				<th scope="col">Detail</th>
			</tr>
		</thead>
		<tbody>
			{% for place in response.results %}
			<tr>
				<td>{{place.name}}</td>
				<td>{{place.formatted_address}}</td>
				<td>
					<form action="{% url 'googly:place-detail' %}">
						<input type="hidden" name="place_id" value="{{place.place_id}}">
						<input type="submit" value="Detail" class="btn btn-outline-info">
					</form>
				</td>
			</tr>
			{% endfor %}		
		</tbody>		
	</table>


		{# if I recieve a next_page_token string and it is have av value not None #}
			{% if response.next_page_token %}  
				<form action="{% url 'googly:place-search' %}" method="GET">
					<input type="hidden" name="nextpage" value="{{response.next_page_token}}">
					<input type="submit" value="more results ... " class="btn btn-outline-info">
				</form>
			{% endif %}	

{% endblock content%}
